<!doctype html>
<html>

<head>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" > 
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles.css">
</head>

<body class="{{title}}">


    <h1>{{title}}</h1>

    {{ content | safe }}

</body>

</html>