<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" > 
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <!-- Primary Meta Tags -->
    <title>Vermont Code Camp | {{title}}</title>
    <meta name="title" content="Vermont Code Camp | {{title}}">
    <meta name="description" content="Vermont Code Camp is a full day event that brings together technology community members, students and professionals from around Vermont and beyond.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://vt-code.netlify.com/">
    <meta property="og:title" content="Vermont Code Camp | {{title}}">
    <meta property="og:description" content="Vermont Code Camp is a full day event that brings together technology community members, students and professionals from around Vermont and beyond.">
    <meta property="og:image" content="/assets/event-sign.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://vt-code.netlify.com/">
    <meta property="twitter:title" content="Vermont Code Camp | {{title}}">
    <meta property="twitter:description" content="Vermont Code Camp is a full day event that brings together technology community members, students and professionals from around Vermont and beyond.">
    <meta property="twitter:image" content="/assets/event-sign.jpg">

    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Inconsolata" rel="stylesheet">

    <!-- capture the CSS content as a Nunjucks variable -->
    {% set css %}{% include "styles.css" %}{% endset %}
    <!-- feed it through our cssmin filter to minify -->
    <style type="text/css">{{ css | cssmin | safe }}</style>
</head>

<body class="{{title}}">

    <header class="header">
        <a href="/" aria-label="Home Page">
            <img class="logo" src="/assets/vermont-code-camp-logo-light.svg" alt="logo" />
        </a>
        <ul class="nav-buttons">
            <li><a href="/speak" class='code {{ "active" if "/speak/" in page.url }}'>Speak<span class="hide-xs">();</span></a></li>
            <li><a href="/sponsor" class='code {{ "active" if "/sponsor/" in page.url }}'>Sponsor<span class="hide-xs">();</span></a></li>
            <li><a href="https://www.vtcodecamp.org/" class="code" ><span class="hide-xs">Get</span>History<span class="hide-xs">();</span></a></li>
        </ul>
    </header>

    <main class="content">
        <div class="main" >
            <h1>{{title}}</h1>

            {{ content | safe }}
        </div>
        <aside class="twitter">
            <a class="twitter-timeline" href="https://twitter.com/VTCodeCamp?ref_src=twsrc%5Etfw"
               data-dnt="true" data-link-color="#2B7BB9">Tweets by VTCodeCamp</a> 
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </aside>
    </main>




    <footer class="footer">
        <div class="copy-line">
            <span class="copyright">&copy; Vermont Code Camp 2019 </span>
            <span class="d-flex">
                <a href="https://twitter.com/VTCodeCamp" aria-label="Follow us on Twitter">
                    <svg>
                        <use xlink:href="/assets/fa-sprites.svg#twitter"></use>
                    </svg>
                </a>
                <a href="https://github.com/vtcodecamp/2019.vtcodecamp.org" aria-label="Github Respository">
                    <svg>
                        <use xlink:href="/assets/fa-sprites.svg#github"></use>
                    </svg>
                </a>
            </span>
        </div>
        <ul class="nav-links">
            <li><a href="/conduct" class='{{ "active" if "/conduct/" in page.url }}'>Conduct</a></li>
            <li><a href="/diversity" class='{{ "active" if "/diversity/" in page.url }}'>Diversity</a></li>
            <li><a href="/parking" class='{{ "active" if "/parking/" in page.url }}'>Parking</a></li>
        </ul>
    </footer>
</body>

</html>