<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" > 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    
    {# Theme color for browser chrome (chrome android) #}
    <meta name="theme-color" content="#1279a5">

    {# Primary Meta Tags #}
    <title>{{title}}</title>
    <meta name="title" content="{{title}}">
    <meta name="description" content="{{meta_description}}">
    <meta name="robots" content="{{config.metaRobots}}">
    <link rel="canonical" href="{{config.baseUrlCanonical}}{{page.url}}">
    


    {# Open Graph / Facebook #}
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{config.baseUrl}}{{page.url}}">
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{meta_description}}">
    <meta property="og:image" content="{{config.baseUrl}}/assets/event-sign.jpg">

    {# Twitter #}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@vtcodecamp">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{meta_description}}">
    <meta name="twitter:image" content="{{config.baseUrl}}/assets/event-sign.jpg">

    

    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Inconsolata" rel="stylesheet">

    {# capture the CSS content as a Nunjucks variable #}
    {% set css %}{% include "styles.css" %}{% endset %}
    {# feed it through our cssmin filter to minify #}
    <style type="text/css">{{ css | cssmin | safe }}</style>
</head>

<body class="{{title}}">

    <header id="header" class="header">
        <a href="/" aria-label="Home Page" class="logo img-wrap" style="--aspect-ratio:440/80;">
            {% include "assets/logo/vermont-code-camp-logo-light.svg" %}
            {# <img src="/assets/vermont-code-camp-logo-light.svg" alt="Vermont Code Camp" /> #}
        </a>
    </header>
    
    <nav id="headerNav" class="header">
        <ul id="navButtons" class="nav-buttons">
            <li><a href="/" class='code home {{ "active" if "/" == page.url }}'>Home</a></li>
            <li><a href="/schedule/" class='code {{ "active" if "/schedule/" in page.url }}'>Schedule</a></li>
            <li><a href="/sessions/" class='code {{ "active" if "/sessions/" in page.url }}'>Sessions</a></li>
            <li><a href="/speakers/" class='code {{ "active" if "/speakers/" in page.url }}'>Speakers</a></li>
            <li><a href="/parking/" class='code {{ "active" if "/parking/" in page.url }}'>Parking</a></li>
            <li><a href="/conduct/" class='code {{ "active" if "/conduct/" in page.url }}'>Conduct</a></li>
            <li><a href="/diversity/" class='code {{ "active" if "/diversity/" in page.url }}'>Diversity</a></li>
            <li><a href="/sponsor/" class='code {{ "active" if "/sponsor/" in page.url }}'>Sponsor</a></li>
        </ul>
        <a href="#footer-nav" id="navToggle" class='nav-toggle' 
           aria-haspopup="true" aria-expanded="false" 
           aria-label="Toggle additional nav items" > </a>
    </nav>
    <script>
        let navToggle = document.getElementById('navToggle');
        let navHeader = document.getElementById('headerNav');
        navToggle.onclick = function (event) {
            event.preventDefault();

            var isOpen = navToggle.classList.contains('expanded')

            navToggle.setAttribute('aria-expanded', !isOpen)
            navToggle.classList.toggle('expanded', !isOpen);
            navHeader.classList.toggle('expanded', !isOpen);
        };
    </script>



    <main class="content">
        
        {{ content | safe }}
    
    </main>


    <footer class="footer">
        
        
        <ul id="footer-nav" class="nav-links">
            <li><a href="#header">Back to top</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/conduct/">Conduct</a></li>
            <li><a href="/diversity/">Diversity</a></li>
            <li><a href="/sponsor/">Sponsor</a></li>

            <li><a href="/schedule/">Schedule</a></li>
            <li><a href="/sessions/">Sessions</a></li>
            <li><a href="/speakers/">Speakers</a></li>
            <li><a href="/parking/">Parking</a></li>
        </ul>

        <div class="copy-line">
            <span class="copyright">&copy; Vermont Code Camp 2019 </span>
            <span class="d-flex">
                <a href="https://twitter.com/VTCodeCamp" aria-label="Follow us on Twitter">
                    {% include "assets/fa/twitter.svg" %}
                </a>
                <a href="https://github.com/vtcodecamp/2019.vtcodecamp.org" aria-label="Github Respository">
                    {% include "assets/fa/github.svg" %}
                </a>
            </span>
        </div>

    </footer>
</body>

</html>
