
<div id="tweet-container" class="embedded-tweets"></div>

<script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    let tweets = [
        '1177214266019131398', //c2vt
        '1177267761912963072', //Mo_Mack
        '1175798429701890049', //julielerman
        '1041146235229560832', //tchen 
        '1057626199239868416', //bhoblin
        '1041026386377486336', //MalinaKirn
        '1041030382228004865', //davekopec
        '1041336710192418817', //FlorenceFong8
        // '1124700430452305920', //VTCodeCamp
        // '1148022781386416128', //contrivedex
        //'1101986121041498113', //VTCodeCamp
        //'1101265245056716800', //VTCodeCamp
          
    ];
    let tweetContainer = document.getElementById('tweet-container');
    tweets.forEach( function (tweetId) {
        twttr.widgets.createTweet(tweetId, tweetContainer, {
            cards: 'hidden',
            width: '520',
            align: 'center',
        }).then( function (tweet) {
                let style = tweet.shadowRoot.firstElementChild;
                let css = document.createTextNode(`
                    .EmbeddedTweet .CallToAction {display: none;}
                    .SandboxRoot .EmbeddedTweet {
                        box-shadow: 0 0 20px rgba(225, 232, 237, 0.8);
                    } 
                `);
                style.appendChild(css);
            });
    });
</script>

