:root {
    --primary-color: #1595D3;
}

html, body {
    width: 100%;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    color: hsl(198, 3%, 8%);
}

body {
    min-height: 100%;
    font-family: sans-serif;
    background: hsl(198, 21%, 99%);
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

h1 {
    border-bottom: 4px solid #d7d700;
    display: inline-block;
}

h2, h3 {
    margin-top: 4rem;
}

.logo {
    max-width: 500px;
    margin-top: 1em;
}

header.header {
    background: hsl(198, 80%, 36%);
    text-align: center;
    font-size: 1.2em;
    padding: 0.5em;
    border-bottom: 2px solid hsl(198, 64%, 13%);

    position: sticky;
    top: -115px;
}

main {
    margin: 0 auto;
    padding: 2rem;
    padding-top: 1rem;
    max-width: 700px;
    font-size: 1.1em;
    line-height: 1.5em;
    background: white;
}

main img {
    max-width: 100%;
}

.landing-image svg {
    width: 100%;
    height: 225px;
}

footer.footer {
    background: hsl(198, 15%, 91%);
    text-align: center;
    padding: 1em;
    font-size: 1.1em;
}

ul.nav-buttons,
ul.nav-links {
    list-style: none;
    padding: 0;
    margin: 1em;
}

ul.nav-buttons li {
    display: inline-block;
}

ul.nav-buttons a {
    display: inline-block;
    padding: 5px 10px;
    margin: 0px 10px;
    border: 1px solid white;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    transition: background .5s ease;
}

ul.nav-buttons a {
    background: hsl(198, 80%, 36%);
}
ul.nav-buttons a:hover {
    background: hsl(198, 80%, 33%);
}
ul.nav-buttons a.active {
    background: hsl(198, 80%, 28%);
}
ul.nav-buttons a:focus {
    border-color: hsl(198, 100%, 60%);
    background: hsl(198, 80%, 28%);
    outline: none;
}

.content > .main > a {
    border-bottom: 3px solid hsl(198, 80%, 86%);
    box-shadow: inset 0 -4px 0 hsl(198, 80%, 86%);
    text-decoration: none;
    transition: background .25s ease;
    color: black
}
.content a:hover {
   color: black;
   background: hsl(198, 80%, 86%);
}
.twitter-timeline {
    text-decoration: none;
    margin-top: 15px;
    display: inline-block;
    color: hsl(198, 82%, 25%);
    text-align: center;
}

.content a.cta {
    display: inline-block;
    box-shadow: none;
    border: 1px solid #d4d400;
    padding: 10px 30px;
    border-radius: 4px;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    background: hsl(198, 80%, 36%);
    color: white;
}
.content a.cta:hover {
    background: hsl(198, 80%, 33%);
}
.content a.cta.active {
    background: hsl(198, 80%, 28%);
}


footer a svg {
    height: 22px;
    width: 22px;
}

footer a {
    color: hsl(198, 82%, 32%);
    text-decoration: none;
}
footer a:hover {
    color: hsl(198, 82%, 55%);
    text-decoration: underline;
}
footer a svg {
    color: hsl(198, 3%, 8%);
}

.nav-links li {
    display: inline-block;
    margin: 0px 15px;
}


.content {
    display: flex;
    
}
.twitter {
    width: 160px;
}
.twitter iframe {
    height: 100% !important;
}



@media (max-width: 800px) {
    .content {
        flex-direction: column;
        
    }
    .twitter {
        width: 100%;
        max-height: 500px
    }
    .twitter iframe {
        width: 100%;
        max-height: 500px !important;
    }
}




.copy-line {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.d-flex {
    display: flex;
}
.code {
    font-family: 'Inconsolata', monospace;
}

.footer a svg {
    margin-left: 10px;
    padding: 5px;
    border-radius: 50%;
    transition: background .5s ease;
}
.footer a svg:hover {
    background: hsla(198, 57%, 78%, 1);
}

.no-break {
    white-space: nowrap;
}

@media (max-width: 500px) {
    header.header {
        top: 0;
        position: relative;
    }
    ul.nav-buttons a {
        margin: 0px 3px;
    }
    .hide-xs {
        display: none;
    }
    .nav-links li {
        margin: 0px 5px;
    }

    
}

.text-large {
    font-size: 1.3em;
    font-weight: bold;
    color: hsl(198, 80%, 47%);
}