:root {
    --primary-color: #1595D3;
}


/*  A better box sizing default so we don't lose our sanity */
/*  https://css-tricks.com/box-sizing/#article-header-id-3 */
*, *:before, *:after {
  box-sizing: border-box;
}
/* default to display block for images to avoid weird space after */
img { 
    display: block;
}

/* 
Force image height based on aspect ratio to avoid reflowing layout if images are slow to load 
Explanation of techniques here:  https://css-tricks.com/aspect-ratio-boxes/ 
HTML example:

    <div class="img-wrap" style="--aspect-ratio:600/240;">
        <img src="/assets/vtcc10-welcome.jpg" width="600">
    </div> 
*/
.img-wrap::before {
  content: "";
  width: 1px;
  margin-left: -1px;
  float: left;
  height: 0;
  padding-top: calc(100% / (var(--aspect-ratio)));
}
.img-wrap::after { /* to clear float */
  content: "";
  display: table;
  clear: both;
}
.img-wrap {
    display: block;
}
/* add this class if your want a placeholder background color */
.img-wrap-bg {
  background: #eee;
}



html, body {
    width: 100%;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    color: hsl(198, 3%, 8%);
}

body {
    min-height: 100%;
    font-family: sans-serif;
    background: hsl(198, 21%, 99%);
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

/*  Restrict content containers to 100% viewport width and hide overflow
    so content that is accidentally too wide won't cause horizontal scrolling of the whole page. */
header, main, footer {
    max-width: 100%;
    overflow-x: hidden;
}

h1, h2 {
    border-bottom: 1px solid #d7d700;
    box-shadow: inset 0 -4px 0 #d7d700;
    display: inline;
    line-height: 1.3em;
}
h1::after, h2::after {
    content: "";
    display: block;
    margin-bottom: 1.5em;
}


h2, h3 {
    margin-top: 2rem;
}
.section-content h1:first-child, .section-content h2:first-child {
    margin-top: 0;
}



.logo {
    max-width: 500px;
    margin: 1em auto 0 auto;
}
body > .header {
    background: hsl(198, 80%, 36%);
    text-align: center;
    font-size: 1.2em;
}
header.header {
    padding: 0.5em;
}
nav.header {
    border-bottom: 2px solid hsl(198, 64%, 13%);
    display: block;
    z-index: 100;
    position: -webkit-sticky;  /* because Safari is a laggard - 4/2019 */
    position: sticky;
    top: 0;
    padding: 0.5rem;
    margin-top: -1px; /* fix sunbeam through the blinds flicker */
    padding-top: calc(0.5rem + 1px); 
}
@media (min-width: 500px) {
    nav.header {
        padding: 0.8rem;
        padding-top: calc(0.8rem + 1px); /* fix sunbeam through the blinds flicker */
    }
}
ul.nav-buttons {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Content sections layout */
main {
    font-size: 1.1em;
    line-height: 1.5em;
    background: white;
}
main > section {
    margin: 0;
    width: 100%;
    padding: 2rem 0;
}
section .section-content {
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
section .section-content-wide {
    width: 1000px;
}

section.past-years {
    background: #f5f5f5;
}
section.past-years {
    padding-bottom: 3rem;
}

section.past-years ul {
    column-count: 3;
    list-style: none;
    padding: 0;
    text-align: center;
    max-width: 540px;
    margin: 0 auto;
}

section.sponsors {
    background: linear-gradient(#f5f5f5 0, #fff 150px, #fff 100%)
}

@media (min-width: 500px) {
    section .section-content {
       padding: 0 2rem;
    }
}


figure.landing-image {
    margin: 0;
}
.landing-image img {
    max-width: 100%;
}

.landing-image svg {
    width: 100%;
    height: 225px;
}
.landing-image .img-wrap {
    margin: 2rem -10% 0 -10%;
    max-width: 120%;
}
@media (min-width: 500px) {
    .landing-image .img-wrap {
        margin: 2rem -3% 0 -3%;
        max-width: 106%;
    }
}
.landing-image figcaption {
    font-style: italic;
    font-size: 0.8rem;
    text-align: right;
}


footer.footer {
    background: hsl(198, 15%, 91%);
    text-align: center;
    padding: 1em;
    font-size: 1.1em;
}

ul.nav-links {
    list-style: none;
    padding: 0;
    margin: 1em;
}

ul.nav-buttons li {
    display: inline-block;
}

ul.nav-buttons a {
    display: inline-block;
    padding: 5px 10px;
    margin: 0px 10px;
    border: 1px solid white;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    transition: background .5s ease;
}

ul.nav-buttons a {
    background: hsl(198, 80%, 36%);
}
ul.nav-buttons a:hover {
    background: hsl(198, 80%, 31%);
}
ul.nav-buttons a.active {
    background: hsl(198, 80%, 27%);
}
ul.nav-buttons a:focus {
    border-color: hsl(198, 100%, 60%);
    background: hsl(198, 80%, 27%);
    outline: none;
}

.main table {
    border-collapse: collapse;
}
.main table th,
.main table td {
    border:  1px solid grey;
    padding: 1px 13px;
}

.content a {
    border-bottom: 2px solid hsl(198, 80%, 86%);
    box-shadow: inset 0 -4px 0 hsl(198, 80%, 86%);
    text-decoration: none;
    transition: background .25s ease;
    color: black
}
.content a:hover,
.content a:focus {
   color: black;
   background: hsl(198, 80%, 86%);
}
.content a:focus {
    outline: 2px solid hsla(198, 78%, 65%, 1);
    box-shadow: 0px 0px 2px 2px hsla(198, 78%, 65%);
}
.content a.cta {
    display: inline-block;
    box-shadow: none;
    border: 1px solid #d4d400;
    padding: 10px 30px;
    border-radius: 4px;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    background: hsl(198, 80%, 36%);
    color: white;
}
.content a.cta:hover {
    background: hsl(198, 80%, 33%);
}
.content a.cta.active {
    background: hsl(198, 80%, 28%);
}

@media (min-width: 700px) {
    .embedded-tweets {
        max-width: 100%;
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        grid-gap: 1rem 2rem;
    }
}




footer a svg {
    height: 22px;
    width: 22px;
}

footer a {
    color: hsl(198, 82%, 32%);
    text-decoration: none;
}
footer a:hover {
    color: hsl(198, 82%, 55%);
    text-decoration: underline;
}
footer a svg {
    color: hsl(198, 3%, 8%);
}

.nav-links li {
    display: inline-block;
    margin: 0px 15px;
}

.copy-line {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.d-flex {
    display: flex;
}
.code {
    font-family: 'Inconsolata', monospace;
}
.text-muted {
    opacity: 0.6;
}
.no-wrap {
    white-space: pre;
}

.footer a svg {
    margin-left: 10px;
    padding: 5px;
    border-radius: 50%;
    transition: background .5s ease;
}
.footer a svg:hover {
    background: hsla(198, 57%, 78%, 1);
}

.no-break {
    white-space: nowrap;
}

@media (max-width: 500px) {
    ul.nav-buttons a {
        margin: 0px 3px;
    }
    .hide-xs {
        display: none;
    }
    .nav-links li {
        margin: 0px 5px;
    }

    
}

.text-large {
    font-size: 1.3em;
    font-weight: bold;
    color: hsl(198, 80%, 47%);
}
ul.list-icons {
    list-style: none;
}

.list-icons li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.list-icons li > span {
    padding: 5px 5px
}
ul.list-icons li svg {
    width: 20px;
    height: 20px;
    margin-left: -30px;
}

.list-icons li .title {
    font-weight: bold;
    padding-left: 10px
}

.list-icons li .description {
    color: #737373;
    padding-left: 0px;
}

@media (max-width: 700px) {
    .list-icons li .description {
        flex: 1 0 100%;
    }
    .list-icons li .description {
        margin-top: -10px;
    }
}


/* Sponsor Logos */

/*
  These rules are temporary just to get the initial sponsors up on the site.
  I'm trying to come up with an general solution that allows for various aspect ratios
  while also contraining logo size based on sponsor tier - Zeke
*/
.sponsor-logo-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* ie11 fallback - https://caniuse.com/#feat=justify-content-space-evenly */
    justify-content: space-evenly;
    align-items: center;
}
.sponsor-logo-list > li {
    list-style: none;
}
a.friend-link {
    display: block;
    box-shadow: none;
    border-bottom: none;
    margin: 1rem;
}
a.friend-link:hover {
    background: none;
}
.friend-link img {
    max-width: 100%;
}

.sponsor-logo-list.premier            img { max-height: 100px; }
.sponsor-logo-list.gold               img { max-height: 90px; }
.sponsor-logo-list.silver             img { max-height: 80px;  }
.sponsor-logo-list.bronze             img { max-height: 70px;  }
.sponsor-logo-list.swag               img { max-height: 60px;  }
.sponsor-logo-list.community-partner  img { max-height: 60px;  }

.sponsor-logo-list .scale-70  img { transform: scale(0.7); }
.sponsor-logo-list .scale-80  img { transform: scale(0.8); }
.sponsor-logo-list .scale-90  img { transform: scale(0.9); }
.sponsor-logo-list .scale-100 img { transform: scale(1);   }
.sponsor-logo-list .scale-110 img { transform: scale(1.1); }
.sponsor-logo-list .scale-120 img { transform: scale(1.2); }
.sponsor-logo-list .scale-130 img { transform: scale(1.3); }
.sponsor-logo-list .scale-140 img { transform: scale(1.4); }

/* make sure fragment urls fit under fixed header */
[id] {
    margin-top: -80px;
    padding-top: 80px;
    position: relative;
}

/* allows links to be ontop of negative padding in h2 elements */
.content a {
    position: relative;
    z-index: 1;
}

.content .direct-link {
    position: absolute;
    left: -34px;
    bottom: -2px;
    display: none;
    padding: 10px;
    padding-bottom: 0;
}

h2:hover .direct-link,
h2 .direct-link:hover {
    display: block;
}