:root {
    --primary-color: #1595D3;
}


/*  A better box sizing default so we don't lose our sanity */
/*  https://css-tricks.com/box-sizing/#article-header-id-3 */
*, *:before, *:after {
  box-sizing: border-box;
}
/* default to display block for images to avoid weird space after */
img { 
    display: block;
}

/* 
Force image height based on aspect ratio to avoid reflowing layout if images are slow to load 
Explanation of techniques here:  https://css-tricks.com/aspect-ratio-boxes/ 
HTML example:

    <div class="img-wrap" style="--aspect-ratio:600/240;">
        <img src="/assets/vtcc10-welcome.jpg" width="600">
    </div> 
*/
.img-wrap::before {
  content: "";
  width: 1px;
  margin-left: -1px;
  float: left;
  height: 0;
  padding-top: calc(100% / (var(--aspect-ratio)));
}
.img-wrap::after { /* to clear float */
  content: "";
  display: table;
  clear: both;
}
.img-wrap {
    display: block;
}
/* add this class if your want a placeholder background color */
.img-wrap-bg {
  background: #eee;
}



html, body {
    width: 100%;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: hsl(198, 3%, 8%);
}

body {
    min-height: 100%;
    font-family: sans-serif;
    background: hsl(198, 21%, 99%);
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

/*  Restrict content containers to 100% viewport width and hide overflow
    so content that is accidentally too wide won't cause horizontal scrolling of the whole page. */
header, main, footer {
    max-width: 100%;
    overflow-x: hidden;
}

h1 { font-size: 2rem }
h2 { font-size: 1.5rem }

h1, h2 {
    border-bottom: 1px solid #d7d700;
    box-shadow: inset 0 -4px 0 #d7d700;
    display: inline;
    line-height: 1.3em;
}
h1::after, h2::after {
    content: "";
    display: block;
    margin-bottom: 1.5em;
}
h2::after {
    margin-bottom: 1em;
}

h2, h3 {
    margin-top: 2rem;
}
.section-content h1:first-child, .section-content h2:first-child {
    margin-top: 0;
}



.logo {
    max-width: 500px;
    margin: 1em auto 0 auto;
}
.header {
    background: hsl(198, 80%, 36%);
    text-align: center;
    font-size: 1.2em;
    line-height: 1.1em;
}
header.header {
    padding: 0.5em;
}
nav.header {
    border-bottom: 2px solid hsl(198, 64%, 13%);
    display: block;
    z-index: 100;
    position: -webkit-sticky;  /* because Safari is a laggard - 4/2019 */
    position: sticky;
    top: 0;
    padding: 5px 2px 4px 2px;
    margin-top: -1px; /* fix sunbeam through the blinds flicker */
    max-height: calc(1.6em + 19px);
    overflow: hidden;
    transition: max-height 200ms;
}
nav.header.expanded {
    max-height: 170px;
}
@media (min-width: 330px) {
    nav.header.expanded {
        max-height: 130px;
    }
}
@media (min-width: 430px) {
    nav.header.expanded {
        max-height: 90px;
    }
}

ul.nav-buttons {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;  /* space-evenly looks a little better, but doesn't work in IE11 or Edge */
    max-width: 900px;
}
nav.header a.nav-toggle {
    display: none;
}
@media (max-width: 670px) {
    ul.nav-buttons {
        padding: 0 2em 0 0;
    }
    nav.header a.nav-toggle {
        display: block;
        position: absolute;
        top: 5px;
        right: 2px;
        height: calc(1.1em + 10px);
        width: calc(1.1em + 10px);
        padding: 6px;
    } 

    .nav-toggle::before {
        content: ' ';
        display: block;
        border-width: 0.15em 0;
        border-color: white;
        border-style: solid;
        margin-top: 6%;
        height: 50%;
        width: 100%;
        transition: 200ms all;
    }
    .nav-toggle::after {
        content: ' ';
        display: block;
        border-width: 0 0 0.15em 0;
        border-color: white;
        border-style: solid;
        height: 38%;
        margin-bottom: 6%;
        width: 100%;
        transition: 200ms all;
    }
    nav.header.expanded .nav-toggle::before {
        border-width: 0.15em 0 0 0;
        transform: rotate(45deg);
        transform-origin: 0% 50%;
        border-bottom-color: transparent;
        margin-top: 0;
        height: 50%;
        width: 110%;

    }
    nav.header.expanded .nav-toggle::after {
        transform: rotate(-45deg);
        transform-origin: 0% 50%;
        margin-bottom: 0;
        height: 50%;
        width: 110%;
    }
}

/* Content sections layout */
main {
    font-size: 1.1em;
    line-height: 1.5em;
    background: white;
}
main > section {
    margin: 0;
    width: 100%;
    padding: 2rem 0;
}
section .section-content {
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
section .section-content-wide {
    width: 1000px;
}

section.past-years {
    background: #f5f5f5;
}
section.past-years {
    padding-bottom: 3rem;
}

section.past-years ul {
    column-count: 3;
    list-style: none;
    padding: 0;
    text-align: center;
    max-width: 540px;
    margin: 0 auto;
}

section.sponsors,
section.section-toc + section.main {
    background: linear-gradient(#f5f5f5 0, #fff 150px, #fff 100%)
}

@media (min-width: 500px) {
    section .section-content {
       padding: 0 2rem;
    }
}


figure.landing-image {
    margin: 0;
}
.landing-image img {
    max-width: 100%;
}

.landing-image svg {
    width: 100%;
    height: 225px;
}
.landing-image .img-wrap {
    margin: 2rem -10% 0 -10%;
    max-width: 120%;
}
@media (min-width: 500px) {
    .landing-image .img-wrap {
        margin: 2rem -3% 0 -3%;
        max-width: 106%;
    }
}
.landing-image figcaption {
    font-style: italic;
    font-size: 0.8rem;
    text-align: right;
}


footer.footer {
    background: hsl(198, 15%, 91%);
    text-align: center;
    padding: 1em;
    font-size: 1.1em;
}

ul.nav-links {
    list-style: none;
    padding: 1em 0;
    margin: 0 auto;
}

nav.header a {
    display: inline-block;
    padding: 5px 6px;
    margin: 0.2em 4px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    transition: background .5s ease;
}

nav.header a {
    background: hsl(198, 80%, 36%);
}
nav.header a:hover {
    background: hsl(198, 80%, 31%);
}
nav.header a.active {
    background: hsl(198, 80%, 27%);
}
nav.header a:focus {
    box-shadow: 0px 0px 3px 1px hsl(198, 100%, 60%);;
    background: hsl(198, 80%, 27%);
    outline: hsl(198, 100%, 60%) 1px solid;
}

.main table {
    border-collapse: collapse;
}
.main table th,
.main table td {
    border:  1px solid grey;
    padding: 4px 13px;
}

.content a {
    border-bottom: 2px solid hsl(198, 80%, 86%);
    box-shadow: inset 0 -4px 0 hsl(198, 80%, 86%);
    text-decoration: none;
    transition: background .25s ease;
    color: black
}
.content a:hover,
.content a:focus {
   color: black;
   background: hsl(198, 80%, 86%);
}
.content a:focus {
    outline: 2px solid hsla(198, 78%, 65%, 1);
    box-shadow: 0px 0px 2px 2px hsla(198, 78%, 65%);
}
.content a.cta {
    display: inline-block;
    box-shadow: none;
    border: 1px solid #d4d400;
    padding: 10px 30px;
    border-radius: 4px;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    background: hsl(198, 80%, 36%);
    color: white;
}
.content a.cta:hover {
    background: hsl(198, 80%, 33%);
}
.content a.cta.active {
    background: hsl(198, 80%, 28%);
}

@media (min-width: 700px) {
    .embedded-tweets {
        max-width: 100%;
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        grid-gap: 1rem 2rem;
    }
}

/* speaker styles */
article.article{
    margin-top: -85px;
    padding-top: 85px;
    margin-bottom: 3em;
}

.d-inline-flex.headline {
    align-items: flex-end;
}

.article .headline > * {
    margin: 0; 
    padding: 0; 
}


.content .headline h2 a {
    border-bottom: none;
    box-shadow: inset 0 -6px 0 #d7d700;
}
.content .headline h2 a:focus, 
.content .headline h2 a:hover {
    background: #d7d700;
}

.headline h2 {
    position: relative;
}
.headline h2:hover::before {
    content: "#";
    color: #5a5a5a;
    position: absolute;
    left: -20px;
    bottom: 0px
}
/* hide # on small screens */
@media (max-width: 500px) {
    .headline h2:hover::before {
        display:none;
    }
}


.speaker .speaker-link.twitter {
    margin-left: .5em;
    font-size: .8em;
}

.speaker-link a svg {
    height: 18px;
    width: 18px;
}

.speaker-link a + svg {
    height: 15px;
    width: 15px;
    color: #5a5a5a;
    margin-left: 3px;
    margin-top: -11px;
    display:none;
}
.speaker-link a:hover + svg {
    display: inline;
}

img.profile {
    height: 96px;
    border-radius: 8px;
    float: left;
    margin-right: 11px;
    margin-top: 5px;
}

.speaker-sessions {
    margin-bottom: 0px;
    color: #6f6f6f;
}
.speaker-sessions + ul {
    margin-top: 0px;
}

/* session styles */

.byline {
    margin: 0.5em 0;
}

.level, .session-time-room {
    display: inline-block;
    padding: 1px 10px;
    border-radius: 4px;
    margin: 0;
    font-size: .9em;
}

.level-100 { background: #dcefe2; }
.level-200 { background: #efefdc; }
.level-300 { background: #efe4dc; }
.level-400 { background: #efdcdc; }

.session-time-room {
    margin: 0.5em 0;
    background: #efefef;
}

/* footer styles */
footer a svg {
    height: 25px;
    width: 25px;
}

footer a {
    color: hsl(198, 82%, 32%);
    text-decoration: none;
    padding: 6px;
}
footer a:hover {
    color: hsl(198, 82%, 55%);
    text-decoration: underline;
}
footer a svg {
    color: hsl(198, 3%, 8%);
}

footer .nav-links {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.7em;
    max-width: 380px;
}
@media (min-width: 500px) {
    footer .nav-links {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        max-width: 600px;
    }
    .nav-links li:nth-child(3), .nav-links li:nth-child(4) {
        order: 2;
    }
}

/* utility styles */
.copy-line {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1em;
}
.clear {
    clear: both;
}
.d-none {
    display: none;
}
.d-flex {
    display: flex;
}
.d-inline-flex {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.code {
    font-family: 'Inconsolata', monospace;
}
.text-muted {
    opacity: 0.6;
}
.no-wrap {
    white-space: pre;
}

.footer a svg {
    margin-left: 10px;
    padding: 5px;
    border-radius: 50%;
    transition: background .5s ease;
}
.footer a svg:hover {
    background: hsla(198, 57%, 78%, 1);
}

.no-break {
    white-space: nowrap;
}

.text-large {
    font-size: 1.3em;
    font-weight: bold;
    color: hsl(198, 80%, 47%);
}
ul.list-icons {
    list-style: none;
}

.list-icons li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.list-icons li > span {
    padding: 5px 5px
}
ul.list-icons li svg {
    width: 20px;
    height: 20px;
    margin-left: -30px;
}

.list-icons li .title {
    font-weight: bold;
    padding-left: 10px
}

.list-icons li .description {
    color: #737373;
    padding-left: 0px;
}

@media (max-width: 700px) {
    .list-icons li .description {
        flex: 1 0 100%;
    }
    .list-icons li .description {
        margin-top: -10px;
    }
}


/* Sponsor Logos */

/*
  These rules are temporary just to get the initial sponsors up on the site.
  I'm trying to come up with an general solution that allows for various aspect ratios
  while also constraining logo size based on sponsor tier - Zeke
*/
.sponsor-logo-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* ie11 fallback - https://caniuse.com/#feat=justify-content-space-evenly */
    justify-content: space-evenly;
    align-items: center;
}
.sponsor-logo-list > li {
    list-style: none;
}
a.friend-link {
    display: block;
    box-shadow: none;
    border-bottom: none;
    margin: 1rem;
}
a.friend-link:hover {
    background: none;
}
.friend-link img {
    max-width: 100%;
}

.sponsors .section-content h3 {
    color: #9a9a9a;
    text-align: center;
    margin-top: 2.5rem;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: normal;
}

.sponsor-logo-list.premier            img { max-height: 100px; }
.sponsor-logo-list.platinum           img { max-height: 95px; }
.sponsor-logo-list.gold               img { max-height: 90px; }
.sponsor-logo-list.silver             img { max-height: 80px;  }
.sponsor-logo-list.bronze             img { max-height: 70px;  }
.sponsor-logo-list.swag               img { max-height: 60px;  }
.sponsor-logo-list.community-partner  img { max-height: 60px;  }

.sponsor-logo-list .scale-70  img { transform: scale(0.7); }
.sponsor-logo-list .scale-80  img { transform: scale(0.8); }
.sponsor-logo-list .scale-90  img { transform: scale(0.9); }
.sponsor-logo-list .scale-100 img { transform: scale(1);   }
.sponsor-logo-list .scale-110 img { transform: scale(1.1); }
.sponsor-logo-list .scale-120 img { transform: scale(1.2); }
.sponsor-logo-list .scale-130 img { transform: scale(1.3); }
.sponsor-logo-list .scale-140 img { transform: scale(1.4); }
.sponsor-logo-list .scale-150 img { transform: scale(1.5); }
.sponsor-logo-list .scale-160 img { transform: scale(1.6); }

/* make sure fragment urls fit under fixed header */
h1[id],
h2[id],
h3[id],
h4[id] {
    margin-top: -80px;
    padding-top: 80px;
    position: relative;
}

/* allows links to be ontop of negative padding in h2 elements */
.content a {
    position: relative;
    z-index: 1;
}

.content .direct-link {
    position: absolute;
    left: -34px;
    bottom: -2px;
    display: none;
    padding: 10px;
    padding-bottom: 0;
}

h2:hover .direct-link,
h2 .direct-link:hover {
    display: block;
}

.toc ol {
    padding-left: 0px;
    list-style: none;
}

.toc li::before {
  content: "#";
  margin-left: -10px;
  padding-right: 4px;
  visibility: hidden;
}

.toc li:hover::before {
  visibility: visible
}

.toc li {
    margin-bottom: 0.5rem;
}
.toc li a {
    border: none;
}



@media print {
    .header, nav.header, .footer {
        display: none;
    }
    body {
        display: block;
        font-size: 14px;
        /* padding: 0 0.5in;
        margin: 0.5in 0; */
    }
    main > section, section .section-content {
        width: 100%;
        padding: 0;
    }
    article, article.article {
        break-inside: avoid;
        padding-top: 0;
        margin: 2.4rem 0 2.4rem 0;
    }
    .byline {
        display: inline-block;
        margin-bottom: 0;
    }
    h1, h2, .content .headline h2 a, .content a {
        box-shadow: none;
        border-bottom: none;
    }
    h1, h2, .session .headline {
        display: block;
    }
    .speaker-link {
        display: inline-block;
    }
    h1::after, h2::after {
        display: none;
    }
}
@page {
    margin: 0.5in;
}
@page :footer {color: #fff}
@page :header {color: #fff}
