---
layout: default-layout.njk
title:  "Attend Vermont Code Camp 11"
meta_description: Vermont Code Camp is a full day event that brings together technology 
                  community members, students and professionals from around Vermont and beyond.
---

<section class="main">
    <div class="section-content">

        <h1>{{title}}</h1>

        <div class="text-large">
            Saturday, Sept. 28, 2019 <br/>
            Champlain College, Burlington, VT
        </div>

        <figure class="landing-image">
            <div class="img-wrap img-wrap-bg" style="--aspect-ratio:1200/649;">
                <img src="/assets/vtcc-event-1200px-optim.jpg" width="1200"
                    alt="Opening Session talk given at Vermont Code Camp 10"/>
            </div>
        </figure>

        <p>
            The upcoming 11th annual Vermont Code Camp will be held on Saturday, 
            September 28, 2019 in Burlington, Vermont.
        </p>

        <a href="https://www.meetup.com/VTCode/events/261093250/" class="code cta">
            Meetup.SignUp<span class="text-muted" aria-hidden="true">();</span>
        </a>

        <p>
            The entire day is <b>free</b>, including morning coffee &amp; pastries, lunch 
            and afternoon snacks for all attendees. The event will bring together technology 
            community members, students and professionals from around Vermont and beyond. 
            A wide variety of software technologies will be represented. Session topics 
            range from software development (e.g. languages, tools, practices, databases, 
            web development, etc.) to the business of software and technology 
            (e.g. entrepreneurship, consulting, team dynamics, etc.).
        </p>

    </div>
</section>

<section class="sponsors">
    
    <div class="section-content">
        <h2 id="Sponsors">
            Sponsors
            <a class="direct-link" href="#Sponsors" aria-hidden="true">#</a>
        </h2>
    </div>

    {% include "sponsor-logos.njk" %}

</section>

<section class="past-years">
    <div class="section-content">

    <h2 id="Past-Years">
        Past Years
        <a class="direct-link" href="#Past-Years" aria-hidden="true">#</a>
    </h2>
    <ul>
        <li><a href="https://2018.vtcodecamp.org">2018</a></li>
        <li><a href="https://2017.vtcodecamp.org">2017</a></li>
        <li><a href="https://2016.vtcodecamp.org">2016</a></li>
        <li><a href="https://2015.vtcodecamp.org">2015</a></li>
        <li><a href="https://2014.vtcodecamp.org">2014</a></li>
        <li><a href="https://2013.vtcodecamp.org">2013</a></li>
        <li><a href="https://2012.vtcodecamp.org">2012</a></li>
        <li><a href="https://2011.vtcodecamp.org/schedule">2011</a></li>
        <li><a href="https://2010.vtcodecamp.org/schedule">2010</a></li>
    </ul>

    </div>
</section>


<section class="social">
    <div class="section-content">

        <h2 id="Social">
            Social
            <a class="direct-link" href="#Social" aria-hidden="true">#</a>
        </h2>
        <p>Follow <a href="https://twitter.com/VTCodeCamp">@VTCodeCamp</a> for event updates.</p>
        <p>Use the hashtag <a href="https://twitter.com/hashtag/VTCC11">#VTCC11</a> when posting about the event.</p>

    </div>
    <div class="section-content section-content-wide">

        {% include "embedded-tweets.njk" %}

    </div>
</section>
