---
layout: default-layout.njk
title:  "Vermont Code Camp 11"
meta_description: Vermont Code Camp is a full day event that brings together technology 
                  community members, students and professionals from around Vermont and beyond.
---

<section class="main">
    <div class="section-content">

        <h1>{{title}}</h1>

        <div class="text-large">
            Saturday, Sept. 28, 2019 <br/>
            Champlain College, Burlington, VT
        </div>

        <figure class="landing-image">
            <div class="img-wrap img-wrap-bg" style="--aspect-ratio:1200/649;">
                <img src="/assets/vtcc-event-1200px-optim.jpg" width="1200"
                    alt="Opening Session talk given at Vermont Code Camp 10"/>
            </div>
        </figure>

        <p>
            The 11th annual Vermont Code Camp was held on Saturday, 
            September 28, 2019 in Burlington, Vermont.
        </p>

        <a href="https://www.meetup.com/VTCode/events/261093250/" >
            Event Page on Meetup
        </a>

        <p>
            The entire day is <b>free</b>, including morning coffee &amp; pastries, lunch 
            and afternoon snacks for all attendees. The event will bring together technology 
            community members, students and professionals from around Vermont and beyond. 
            A wide variety of software technologies will be represented. Session topics 
            range from software development (e.g. languages, tools, practices, databases, 
            web development, etc.) to the business of software and technology 
            (e.g. entrepreneurship, consulting, team dynamics, etc.).
        </p>

    </div>
</section>

<section class="sponsors">
    
    <div class="section-content">
        <h2 id="Sponsors">
            Sponsors
            <a class="direct-link" href="#Sponsors" aria-hidden="true">#</a>
        </h2>
    </div>

    {% include "sponsor-logos.njk" %}

</section>


