---
layout: default-layout.njk
title:  "2019 Schedule"
meta_description: A single lookup for all the day's activities, talks, and timelines
---


<section class="main" >
<div class="section-content section-content-wide">

    <h1> {{ title }}</h1>

    <p>Date: Saturday, September 28, 2019<br>
    Time: 8:00am-5:40pm</p>


    <table class="schedule">

        <thead>
            <tr>
            {% for th in schedule.head %}
                <th scope="col" class="{{th.type}}">
                    {{ th.title }} 
                    {% if th.subtitle %}
                        <small class="room">{{ th.subtitle }}</small>
                    {% endif %}
                </th>
            {% endfor %}
            </tr>
        </thead>

        <tbody>
        {% for row in schedule.body %}

            <tr>
            {% for cell in row %} 
                {% if cell.type == "timespan" %}
                    <td id="{{ cell.timeSlug }}" class="{{ cell.type }}" scope="row">
                        {{ cell.title }}
                    </td>
                {% elif cell.type == "plenumSession" %}
                    <td colspan="5"> {{ cell.title }} </td>
                {% elif cell.type == "session" %}
                    <td data-room="{{cell.room.name}}"> 
                        <a href="{{ cell.title_link }}">{{ cell.title }}</a>
                        <small class="speaker">
                        {% for speaker in cell.speakers %}
                            <a href="{{ speaker.link }}">{{ speaker.name }}</a>
                        {% endfor %}
                        </small>
                    </td>
                {% else %}
                    <td>
                        {# No session scheduled for this timeslots. Blank cell. #}
                    </td>
                {% endif %}
            {% endfor %} 
            </tr>

        {% endfor %}
        </tbody>

    </table>



</div>
</section>

<style type="text/css">
section .section-content-wide { 
    width: 1200px;
}
table.schedule {
    font-size: 0.95rem;
    line-height: initial;
    max-width: 100%;
}
table.schedule th {
    background: #c1e1f1;
}
.timespan {
    background: #dfebf1;
}
.content table.schedule a {
    border-bottom: none;
    box-shadow: none;
    background: none;
    text-decoration: underline;
    color: #001b88;
    transition: color .3s ease;
}
.content table.schedule a:hover {
    border-bottom: none;
    background: none;
    box-shadow: none;
    text-decoration: underline;
    color: #203eb5;
}
.content table.schedule .speaker a {
    color: #4055a9;
}
.content table.schedule .speaker a:hover {
    color: #1a3cc3;
}

small.speaker {
    display: block;
    margin-top: 6px;
    font-size: 0.85em
}
.main table td, .main table th {
    padding: 0.9em;
}
@media all and (max-width: 599px) {
    table.schedule {
        margin-top: -1rem;
    }
    table.schedule .timespan {
        border-top: 1px solid #cecece;
        margin-top: 1rem;
    }
    table.schedule thead {
        display: none;
    }
    table.schedule td,
    table.schedule th {
        display: block;
        border: none;
        padding: 7px 9px;
        border: 1px solid #cecece;
        border-top: none;
    }
    td[data-room]::before {
        content: attr(data-room);
        display: block;
        padding: 2px 0px;
        background: #f9f9f9;
        font-size: .9em
    }
}
@media all and (min-width: 600px) and (max-width: 759px) {
    table.schedule {
        font-size: 0.68rem;
    }
    section .section-content-wide { 
        padding: 0 1rem;
    }
}
@media all and (min-width: 760px) and (max-width: 899px) {
    table.schedule {
        font-size: 0.77rem;
    }
    section .section-content-wide { 
        padding: 0 1rem;
    }
}
@media all and (min-width: 900px) and (max-width: 1023px) {
    table.schedule {
        font-size: 0.85rem;
    }
}
</style>
