---
layout: default-layout.njk
title:  "2019 Sessions"
meta_description: Browse the sessions being presented at this the 2019 VT Code Camp
---


<section class="main" >
<div class="section-content">

<h1> {{title}} </h1>

{% for session in sessionsSorted %}

    <article class="session article" id="{{ session.slug }}">
        <div class="d-inline-flex headline ">
            <h2 class="d-inline-flex">
                <a href="#{{ session.slug }}" >
                    {{ session.title }} 
                </a>
            </h2>
        </div>

        <h4 class="byline">
            By 
            {% for speakerKey in session.speakers %}
                {% set speaker = speakers[speakerKey.id] %}
                <a href="/speakers#{{speaker.slug}}">
                    {{ speaker.fullName }}
                </a>
                {% if not loop.last %}/{% endif %}
            {% endfor %}
        </h4>
        {% set levelNum = session.level.split(" ")[0] %}
        <div class="session-time-room">{{ session.startsAt | to12hourTime }} - {{ rooms[session.roomId].name }}</div>
        <div class="level level-{{levelNum}}">{{session.level}}</div>
    
        
        {{ session.description | minimalMarkdown | safe }}

        {% if session.resources %}
            <p>Resources:</p>
            <ul>
            {% for resource in session.resources %}
                <li><a href="{{ resource.href }}">{{ resource.title }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
    </article>
    {% endfor %}



</div>
</section>
